/* Define as variáveis de cores */
:root {
    --cor-fundo1: linear-gradient(166deg, rgba(255,255,255,1) 0%, rgba(68,87,130,1) 58%);
    --cor-fundo2: linear-gradient(166deg, rgba(63,94,251,1) 0%, rgba(237,10,56,0.6615896358543417) 100%);
    --cor-hover: rgb(5, 5, 5);
    --cor-branco: white;
    --cor-preto: black;
    --cor-azul: #007bff;
    --cor-cinza-escuro: darkgrey;
    --cor-cinza-claro: lightgrey;
    --cor-branco-transparencia1: rgba(255, 255, 255, 0.1);
    --cor-branco-transparencia2: rgba(255, 255, 255, 0.2);
    --cor-branco-transparencia3: rgba(255, 255, 255, 0.3);
    --cor-branco-transparencia7: rgba(255, 255, 255, 0.7);
    --cor-preto-transparencia3: rgba(0, 0, 0, 0.3);
    --cor-preto-transparencia5: rgba(0, 0, 0, 0.5);
}

/* Estilos globais */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--cor-branco);
    background: var(--cor-fundo1);
    height: 100vh;
}

/* Estilos para o cabeçalho */
header {
    text-align: center;
    padding: 15px;
}

/* Estilos para a imagem do perfil */
.profile-img {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Botão de alternância de perfil */
.ball-button {
    position: relative;
    width: 50px;
    height: 20px;
    border-radius: 25px;
    border: 1px solid var(--cor-branco-transparencia3);
    cursor: pointer;
    background-color: var(bra);
    margin-top: 15px;
}
/* Bola dentro do botão */
.ball {
    position:absolute;
    top: -2.5px;
    left: 0;
    width: 25px;
    height: 125%;
    border-radius: 50%;
    background-color: var(--cor-branco);
    transition: left 1s;
}

/* Movimento da bola */
.ball-move {
    left: calc(100% - 20px);
}

/* Tema usuário Ana */
body.ana {
    background: var(--cor-fundo2)
}

/* Estilos para inverter as cores */
.invert-colors {
    color: var(--cor-preto); 
}

/* Estilos para botões e menus invertidos */
.invert-colors .content-container .ball-button{
    border: 1px solid var(--cor-preto-transparencia3);
}

.invert-colors .content-container .ball-button .ball{
    border: 1px solid var(--cor-preto);
}

.invert-colors .content-container button {
    color: var(--cor-preto); 
    border: 1px solid var(--cor-preto-transparencia3);
}

.invert-colors .dp-menu ul li a {
    color: var(--cor-preto);
}

.invert-colors .dp-menu ul li a:hover {
    color: var(--cor-branco); 
}

.invert-colors .dp-menu ul ul li a {
    color: var(--cor-preto);
}

.invert-colors .social-icons a img {
    filter: invert(1);
}

/* Estilos para imagens */
img {
    width: 30px;
    margin-bottom: 10px;
}

/* Estilos para o contêiner de conteúdo */
.content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Estilos para modais */
.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--cor-preto-transparencia5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: var(--cor-branco-transparencia7);
    padding: 16px 24px;
    width: 384px;
    border: 1px solid var(--cor-preto);
    border-radius: 0.5rem;
    color: var(--cor-preto);
}

.modal-content ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.modal-content ul li {
    width: 100px;
    padding: 5px;
    border: 1px solid var(--cor-preto);
    border-radius: 0.5rem;
    margin: 2px;
}
.close-button {
    float: right;
    width: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: var(--cor-cinza-claro);
}

.close-button:hover {
    background-color: var(--cor-cinza-escuro);
}

.show-modal {
    display: flex;
}

/* Estilos para botões */
.content-container button {
    width: 400px;
    height: 45px;
    text-align: center;
    background-color: var(--cor-branco-transparencia1);
    border-radius: 10px;
    border: 1px solid var(--cor-branco-transparencia3);
    color: var(--cor-branco);
    padding: 10px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.content-container button:hover {
    background-color: var(--cor-branco-transparencia7);
    color: var(--cor-preto);
}

/* Estilos para ícones de redes sociais */
.social-icons {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
}

.social-icons a {
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: transform 0.8s ease;
}

.social-icons a:hover {
    transform: scale(2);
}

/* Estilos para o menu dropdown */
.dp-menu ul {
    list-style-type: none;
    padding: 0;
    background-color: transparent;
    margin: 0px;
}

.dp-menu ul {
    background-color: transparent;
}

.dp-menu ul li {
    display: block;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-branco);
    text-decoration: none;
    padding: auto;
    display: block;
}

.dp-menu ul li a:hover{
    color: var(--cor-hover);
}

.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
    position: relative;
}

.dp-menu ul ul li a {
    display: block;
}
